@import "tailwindcss";

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}
body {
  color: white;
  background-color: antiquewhite;
  background-image: url("../public/bg-noise.png");
}


.btn {
    @apply px-3 py-2 rounded-xl font-bold text-xl hover:cursor-pointer hover:bg-fuchsia-500 bg-fuchsia-600 duration-300 gap-1 flex items-center justify-center
  }
.btn-secondary {
  @apply px-3 py-2 rounded-xl font-bold text-xl hover:bg-sky-400 duration-300 gap-1 bg-sky-500 flex items-center justify-center
}